<?xml version="1.0" encoding="utf-8"?>
<Config version="1.0.0.0">
  <LockDownBrowserUrl>https://www.etest-nucem.sk/testplayerTP2</LockDownBrowserUrl>
  <BigPackageLocation>.\TestPackages\</BigPackageLocation>
  <SmallPackageLocation>.\TestPackages\</SmallPackageLocation>
  <StorageLocation>.\TestPackages\</StorageLocation>
  <LockDownBrowserExitPin>0000</LockDownBrowserExitPin>
</Config>